# For privacy & security reasons we have to be careful when committing changes
# into this repository. By default everything is ignored and only specific
# files/directories are allowed back.
#
# For more information see https://git-scm.com/docs/gitignore
/*
!.gitignore
!/bash/
!/bat/
!/git/
!/haskeline/
!/kitty/
!/nvim/
!/psql/
!/readline/
!/ripgrep/
!/scripts/
!/sensible-editor/
!/stack/
!/tmux/
!/README.md
!/Xresources
!/dot.config.init.hs
!/init-host-specific-config-repo.bash
!/user-dirs.dirs
!/user-dirs.locale

# Manual pages documenting stuff in this repo:
!/man/

# Machine specific configuration of Kitty.  See ./kitty/README.md for more
# details.
/kitty/kitty-local.conf

# Contains private information like `ghci_history` and package database.
/ghc/
!/ghc/ghci.conf
!/ghc/README.md

# Contains generated `bazelrc` file and local Bazel configuration that is
# machine specific.
!/bazel/
/bazel/bazelrc
/bazel/local.bazelrc

# Machine-specific, i.e. local, Git configuration.
/git/local.gitconfig

# Spell files are actually quite revealing.
/nvim/spell/

# {{{ Command Wrapper #########################################################

!/command-wrapper/
!/habit/
!/yx/
# Some top-level Dhall configs are generated:
/command-wrapper/default.dhall
/habit/*.dhall
!/habit/command-wrapper-*.dhall
/yx/default.dhall
/yx/yx-env.dhall
/yx/toolset/.shake
/yx/toolset/.stack-work/
/yx/toolset/*.cabal
# This is machine specific, and it exposes too much information:
/command-wrapper/cd/directories.dhall
/command-wrapper/cd/directories-local.dhall
/command-wrapper/exec/commands.dhall
/command-wrapper/exec/commands-local.dhall
/command-wrapper/skel/*-template.dhall
/habit/cd/directories-local.dhall
/habit/cd/directories.dhall
/habit/exec/commands.dhall
/habit/exec/commands-local.dhall
/habit/pgpass.conf
/habit/pgpass.d/*
!/habit/pgpass.d/.gitkeep
/habit/skel/*-template.dhall
/habit/toolset
/yx/cd/directories-local.dhall
/yx/cd/directories.dhall
/yx/default/aliases-local.dhall
/yx/default/aliases.dhall
/yx/exec/commands-local.dhall
/yx/exec/commands.dhall
/yx/new/templates.dhall
/yx/path/path-local.dhall
/yx/skel/*-template.dhall
/yx/this/backup-local.dhall
/yx/this/bootstrap-packages-local.dhall
/yx/this/nix-packages-local.dhall
/yx/this/packages-local.dhall
/yx/this/purge-packages-local.dhall
/yx/this/system-info.dhall

# }}} Command Wrapper #########################################################
# {{{ Volatile ################################################################

# Some applications store volatile data/configuration in here.  Purpose of this
# section is to prevent accidental inclusion of such data, however, there is no
# reason for these files/directories to actually exist.  Especially not on all
# systems.
/GIMP/
/QtProject.conf
/Thunar/
/Trolltech.conf
/autostart/
/autostart/
/chromium/
/dconf/
/geeqie/
/google-chrome/
/gtk-2.0/
/gtk-3.0/
/menus/
/pavucontrol.ini
/pulse/
/xarchiver/
/xfce-4-session/
/xfce-4/

# This contains generated files.  Installation of FZF is handled by
# ./dot.config.init.hs script.
/fzf/

# }}} Volatile ################################################################
