# For privacy & security reasons we have to be careful when committing changes
# into this repository. By default everything is ignored and only specific
# files/directories are allowed back.
#
# For more information see https://git-scm.com/docs/gitignore
/*
!.gitignore
!/bat/
!/git/
!/haskeline/
!/nvim/
!/psql/
!/readline/
!/sensible-editor/
!/stack/
!/tmux/
!README.md
!Xresources
!dot.config.init.hs
!user-dirs.dirs
!user-dirs.locale

# Contains private information like `ghci_history` and package database.
/ghc/
!/ghc/ghci.conf
!/ghc/README.md

# {{{ Command Wrapper #########################################################

!/command-wrapper/
!/habit/
!/yx/
# Some top-level Dhall configs are generated:
/command-wrapper/default.dhall
/habit/*.dhall
/yx/default.dhall
/yx/yx-env.dhall
/yx/toolset/.shake
/yx/toolset/.stack-work/
/yx/toolset/*.cabal
# This is machine specific, and it exposes too much information:
/command-wrapper/cd/directories.dhall
/command-wrapper/cd/directories-local.dhall
/command-wrapper/exec/commands.dhall
/command-wrapper/exec/commands-local.dhall
/habit/default/aliases.dhall
/habit/default/help-msg.txt
/habit/pgpass.conf
/habit/pgpass.d/*
!/habit/pgpass.d/.gitkeep
/habit/toolset
/yx/default/aliases.dhall
/yx/default/aliases-local.dhall
/yx/new/templates.dhall
/yx/path/path-local.dhall
/yx/this/backup-local.dhall
/yx/this/bootstrap-packages-local.dhall
/yx/this/nix-packages-local.dhall
/yx/this/packages-local.dhall
/yx/this/purge-packages-local.dhall
/yx/this/system-info.dhall

# }}} Command Wrapper #########################################################
# {{{ Volatile ################################################################

# Some applications store volatile data/configuration in here.  Purpose of this
# section is to prevent accidental inclusion of such data, however, there is no
# reason for these files/directories to actually exist.  Especially not on all
# systems.
/QtProject.conf
/autostart/
/chromium/
/dconf/
/geeqie/
/google-chrome/
/gtk-2.0/
/gtk-3.0/
/pulse/

# This contains generated files.  Installation of FZF is handled by
# ./dot.config.init.hs script.
/fzf/

# }}} Volatile ################################################################
