# For privacy & security reasons we have to be careful when committing changes
# into this repository. By default everything is ignored and only specific
# files/directories are allowed back.
#
# For more information see https://git-scm.com/docs/gitignore
/*
!.gitignore
!/ghc/
!/git/
!/haskeline/
!/psql/
!/sensible-editor/
!/tmux/
!/readline/
!README.md
!Xresources
!dot.config.init.hs

# Contains private information.
/ghc/ghci_history

# {{{ Command Wrapper #########################################################

!/command-wrapper/
!/yx/
# Top-level Dhall configs are generated:
/yx/*.dhall
/command-wrapper/*.dhall
# This is machine specific, and it exposes too much information:
/command-wrapper/cd/directories.dhall
/command-wrapper/exec/commands.dhall
/yx/default/aliases.dhall

# }}} Command Wrapper #########################################################
